@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* color variables */
$clr-orange: #ffa500;
$clr-grey: #7a7979;
$clr-white: #fff;
$clr-dark: #49494c;
$radius: 18px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background: $clr-white;
}
.loader-wrapper{
    background: lighten($clr-dark, 10%);
    width: 100%;
    height: 100vh;
    .loader{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 2rem;
        color: $clr-orange;
        text-align: center;
        }       
    }
    .loader{
        animation: spin 1s infinite;
        transform: translateZ(0);
        @keyframes spin {
            0% {
                        transform: rotate(0deg);
              }
              100% {
                        transform: rotate(360deg);
              }
    }
}
.main{
    .food-container{
        padding: 5px 2rem;
        .foods{
            .single-meal{
                box-shadow: 0 5px 15px rgba(0, 0, 0,0.1);
                display: grid;
                gap: 4;
                margin-bottom: 2rem;
                border-bottom-left-radius: $radius;
                border-top-right-radius: $radius;
                position: relative;
               article{
                img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-top-right-radius: $radius;
                    border-bottom-left-radius: $radius;
                }
                .info-wrapper{
                    padding: 0 1rem;
                    .hero{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 10px;
                        color: $clr-dark;
                        h2{
                            font-size: 14px;
                        }
                    }
                    .hero-text, .description{
                        color: $clr-grey;
                        font-size: 12px;
                    }
                    .description{
                        padding-top: 10px;
                    }
                }
                footer{
                    display: flex;
                    justify-content: space-between;
                    padding-top: 1.5rem;
                    .rating{
                        padding-left: 30px;
                        align-items: center;
                        display: flex;
                       .rating-icon{
                        color: #e79908;
                        font-size: 1rem;
                       }
                    }
                   }
                   .add-to-cart{
                       display: inline-block;
                        background: $clr-orange;
                        color: $clr-white;
                        padding: .5rem 1.8rem;
                        font-size: 2rem;
                        border-top-left-radius: $radius;
    
                   }
                }
            }
        }
        .loadmore-btn{
            display: flex;
            justify-content: center;
            .load-more{
                font-size: 1rem;
                background: $clr-orange;
                color: $clr-white;
                padding: 1rem 3rem;
                border-radius: 30px;
                margin: 1rem 0;
            }
        }
    }
}

@media screen and (min-width: 540px){
    .main{
        .food-container{
            padding: 5px 1rem;
            .foods{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1.5rem;
                .single-meal{
                    margin-bottom: 0;
                    article{
                        img{
                            height: 150px;
                        }
                        .info-wrapper{
                            .hero{
                                h2{
                                    font-size: 14px     ;
                                }
                            }
                        }
                        .hero-text{
                            font-size: 12px;
                        }
                        .description{
                            font-size: 11px;
                        }
                        footer{
                            padding-top: 0;
                            .rating{
                                .rating-icon{
                                    font-size: .8rem;
                                }
                            }
                        }
                        .add-to-cart{
                            padding: .7rem 1.4rem;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            .loadmore-btn{
                margin-top: 1rem;
                .load-more{
                    font-size: .8rem;
                    padding: .8rem 2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px){
    .main{
        width: 90%;
        margin: 0 auto;
        .food-container{
            padding: 5px 1.8rem;
            .foods{
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            .single-meal{
                article{
                    img{
                        height: 200px;
                    }
                }
            }
            }
        }
    }
}

@media screen and (min-width: 992px){
    .main{
        width: 90%;
        margin: 0 auto;
        .food-container{
            padding: 5px 1.8rem;
            .foods{
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2.2rem;
            .single-meal{
                article{
                    img{
                        height: 180px;
                    }
                    footer{
                        margin-top: 1rem;
                    }
                }
            }
            }
        }
    }
}

@media screen and (min-width: 1200px){
    .main{
        width: 80%;
        margin: 0 auto;
        .food-container{
            padding: 5px 2.5rem;
            .foods{
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2.2rem;
            .single-meal{
                article{
                    img{
                        height: 180px;
                    }
                    footer{
                        margin-top: 1rem;
                    }
                }
            }
            }
        }
    }
}