@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* color variables */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
}

.loader-wrapper {
  background: #626266;
  width: 100%;
  height: 100vh;
}

.loader-wrapper .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #ffa500;
  text-align: center;
}

.loader {
  -webkit-animation: spin 1s infinite;
          animation: spin 1s infinite;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main .food-container {
  padding: 5px 2rem;
}

.main .food-container .foods .single-meal {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: -ms-grid;
  display: grid;
  gap: 4;
  margin-bottom: 2rem;
  border-bottom-left-radius: 18px;
  border-top-right-radius: 18px;
  position: relative;
}

.main .food-container .foods .single-meal article img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

.main .food-container .foods .single-meal article .info-wrapper {
  padding: 0 1rem;
}

.main .food-container .foods .single-meal article .info-wrapper .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  color: #49494c;
}

.main .food-container .foods .single-meal article .info-wrapper .hero-text, .main .food-container .foods .single-meal article .info-wrapper .description {
  color: #7a7979;
}

.main .food-container .foods .single-meal article .info-wrapper .description {
  padding-top: 10px;
}

.main .food-container .foods .single-meal article footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}

.main .food-container .foods .single-meal article footer .rating {
  padding-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .food-container .foods .single-meal article footer .rating .rating-icon {
  color: #e79908;
  font-size: 1.2rem;
}

.main .food-container .foods .single-meal article .add-to-cart {
  display: inline-block;
  background: #ffa500;
  color: #fff;
  padding: .7rem 2rem;
  font-size: 2.5rem;
  border-top-left-radius: 18px;
}

.main .food-container .loadmore-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .food-container .loadmore-btn .load-more {
  font-size: 1rem;
  background: #ffa500;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 30px;
  margin: 1rem 0;
}

@media screen and (min-width: 540px) {
  .main .food-container {
    padding: 5px 1rem;
  }
  .main .food-container .foods {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  .main .food-container .foods .single-meal {
    margin-bottom: 0;
  }
  .main .food-container .foods .single-meal article img {
    height: 150px;
  }
  .main .food-container .foods .single-meal article .info-wrapper .hero h2 {
    font-size: 14px;
  }
  .main .food-container .foods .single-meal article .hero-text {
    font-size: 12px;
  }
  .main .food-container .foods .single-meal article .description {
    font-size: 11px;
  }
  .main .food-container .foods .single-meal article footer {
    padding-top: 0;
  }
  .main .food-container .foods .single-meal article footer .rating .rating-icon {
    font-size: .8rem;
  }
  .main .food-container .foods .single-meal article .add-to-cart {
    padding: .7rem 1.4rem;
    font-size: 1.5rem;
  }
  .main .food-container .loadmore-btn {
    margin-top: 1rem;
  }
  .main .food-container .loadmore-btn .load-more {
    font-size: .8rem;
    padding: .8rem 2rem;
  }
}

@media screen and (min-width: 768px) {
  .main {
    width: 90%;
    margin: 0 auto;
  }
  .main .food-container {
    padding: 5px 1.8rem;
  }
  .main .food-container .foods {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .main .food-container .foods .single-meal article img {
    height: 200px;
  }
}

@media screen and (min-width: 992px) {
  .main {
    width: 90%;
    margin: 0 auto;
  }
  .main .food-container {
    padding: 5px 1.8rem;
  }
  .main .food-container .foods {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 2.2rem;
  }
  .main .food-container .foods .single-meal article img {
    height: 180px;
  }
  .main .food-container .foods .single-meal article footer {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    width: 80%;
    margin: 0 auto;
  }
  .main .food-container {
    padding: 5px 2.5rem;
  }
  .main .food-container .foods {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 2.2rem;
  }
  .main .food-container .foods .single-meal article img {
    height: 180px;
  }
  .main .food-container .foods .single-meal article footer {
    margin-top: 1rem;
  }
}
